<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-product-extra-heading" jhiTranslate="doraApp.productExtra.home.createOrEditLabel">Create or edit a Product Extra</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!productExtra.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="productExtra.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.productExtra.extraName" for="field_extraName">Extra Name</label>
                    <input type="text" class="form-control" name="extraName" id="field_extraName"
                        [(ngModel)]="productExtra.extraName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.productExtra.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="productExtra.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.productExtra.extraValue" for="field_extraValue">Extra Value</label>
                    <input type="number" class="form-control" name="extraValue" id="field_extraValue"
                        [(ngModel)]="productExtra.extraValue" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.productExtra.fullPhoto" for="field_fullPhoto">Full Photo</label>
                    <div>
                        <img [src]="'data:' + productExtra.fullPhotoContentType + ';base64,' + productExtra.fullPhoto" style="max-height: 100px;" *ngIf="productExtra.fullPhoto" alt="productExtra image"/>
                        <div *ngIf="productExtra.fullPhoto" class="form-text text-danger clearfix">
                            <span class="pull-left">{{productExtra.fullPhotoContentType}}, {{byteSize(productExtra.fullPhoto)}}</span>
                            <button type="button" (click)="clearInputImage('fullPhoto', 'fullPhotoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_fullPhoto" (change)="setFileData($event, productExtra, 'fullPhoto', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="fullPhoto" id="field_fullPhoto"
                        [(ngModel)]="productExtra.fullPhoto" />
                    <input type="hidden" class="form-control" name="fullPhotoContentType" id="field_fullPhotoContentType"
                        [(ngModel)]="productExtra.fullPhotoContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.productExtra.fullPhotoUrl" for="field_fullPhotoUrl">Full Photo Url</label>
                    <input type="text" class="form-control" name="fullPhotoUrl" id="field_fullPhotoUrl"
                        [(ngModel)]="productExtra.fullPhotoUrl" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.productExtra.thumbnailPhoto" for="field_thumbnailPhoto">Thumbnail Photo</label>
                    <div>
                        <img [src]="'data:' + productExtra.thumbnailPhotoContentType + ';base64,' + productExtra.thumbnailPhoto" style="max-height: 100px;" *ngIf="productExtra.thumbnailPhoto" alt="productExtra image"/>
                        <div *ngIf="productExtra.thumbnailPhoto" class="form-text text-danger clearfix">
                            <span class="pull-left">{{productExtra.thumbnailPhotoContentType}}, {{byteSize(productExtra.thumbnailPhoto)}}</span>
                            <button type="button" (click)="clearInputImage('thumbnailPhoto', 'thumbnailPhotoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_thumbnailPhoto" (change)="setFileData($event, productExtra, 'thumbnailPhoto', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="thumbnailPhoto" id="field_thumbnailPhoto"
                        [(ngModel)]="productExtra.thumbnailPhoto" />
                    <input type="hidden" class="form-control" name="thumbnailPhotoContentType" id="field_thumbnailPhotoContentType"
                        [(ngModel)]="productExtra.thumbnailPhotoContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.productExtra.thumbnailPhotoUrl" for="field_thumbnailPhotoUrl">Thumbnail Photo Url</label>
                    <input type="text" class="form-control" name="thumbnailPhotoUrl" id="field_thumbnailPhotoUrl"
                        [(ngModel)]="productExtra.thumbnailPhotoUrl" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.productExtra.product" for="field_product">Product</label>
                    <select class="form-control" id="field_product" name="product" [(ngModel)]="productExtra.productId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productOption.id" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.productName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
