<div>
    <h2 id="page-heading">
        <span jhiTranslate="doraApp.productExtra.home.title">Product Extras</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-extra" [routerLink]="['/product-extra/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="doraApp.productExtra.home.createLabel">
            Create new Product Extra
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'doraApp.productExtra.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="productExtras">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="extraName"><span jhiTranslate="doraApp.productExtra.extraName">Extra Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="doraApp.productExtra.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="extraValue"><span jhiTranslate="doraApp.productExtra.extraValue">Extra Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fullPhoto"><span jhiTranslate="doraApp.productExtra.fullPhoto">Full Photo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fullPhotoUrl"><span jhiTranslate="doraApp.productExtra.fullPhotoUrl">Full Photo Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="thumbnailPhoto"><span jhiTranslate="doraApp.productExtra.thumbnailPhoto">Thumbnail Photo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="thumbnailPhotoUrl"><span jhiTranslate="doraApp.productExtra.thumbnailPhotoUrl">Thumbnail Photo Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productProductName"><span jhiTranslate="doraApp.productExtra.product">Product</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productExtra of productExtras ;trackBy: trackId">
                <td><a [routerLink]="['/product-extra', productExtra.id, 'view' ]">{{productExtra.id}}</a></td>
                <td>{{productExtra.extraName}}</td>
                <td>{{productExtra.description}}</td>
                <td>{{productExtra.extraValue}}</td>
                <td>
                    <a *ngIf="productExtra.fullPhoto" (click)="openFile(productExtra.fullPhotoContentType, productExtra.fullPhoto)">
                        <img [src]="'data:' + productExtra.fullPhotoContentType + ';base64,' + productExtra.fullPhoto" style="max-height: 30px;" alt="productExtra image"/>
                    </a>
                    <span *ngIf="productExtra.fullPhoto">{{productExtra.fullPhotoContentType}}, {{byteSize(productExtra.fullPhoto)}}</span>
                </td>
                <td>{{productExtra.fullPhotoUrl}}</td>
                <td>
                    <a *ngIf="productExtra.thumbnailPhoto" (click)="openFile(productExtra.thumbnailPhotoContentType, productExtra.thumbnailPhoto)">
                        <img [src]="'data:' + productExtra.thumbnailPhotoContentType + ';base64,' + productExtra.thumbnailPhoto" style="max-height: 30px;" alt="productExtra image"/>
                    </a>
                    <span *ngIf="productExtra.thumbnailPhoto">{{productExtra.thumbnailPhotoContentType}}, {{byteSize(productExtra.thumbnailPhoto)}}</span>
                </td>
                <td>{{productExtra.thumbnailPhotoUrl}}</td>
                <td>
                    <div *ngIf="productExtra.productId">
                        <a [routerLink]="['../product', productExtra.productId , 'view' ]" >{{productExtra.productProductName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/product-extra', productExtra.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-extra', productExtra.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'product-extra', { outlets: { popup: productExtra.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="productExtras && productExtras.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
