<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-section-table-heading" jhiTranslate="doraApp.sectionTable.home.createOrEditLabel">Create or edit a Section Table</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!sectionTable.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="sectionTable.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.sectionTable.tableNumber" for="field_tableNumber">Table Number</label>
                    <input type="number" class="form-control" name="tableNumber" id="field_tableNumber"
                        [(ngModel)]="sectionTable.tableNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.sectionTable.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="sectionTable.description" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.sectionTable.shopSections" for="field_shopSections">Shop Sections</label>
                    <select class="form-control" id="field_shopSections" name="shopSections" [(ngModel)]="sectionTable.shopSectionsId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="shopSectionOption.id" *ngFor="let shopSectionOption of shopsections; trackBy: trackShopSectionById">{{shopSectionOption.sectionName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
