<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-payment-method-config-heading" jhiTranslate="doraApp.paymentMethodConfig.home.createOrEditLabel">Create or edit a Payment Method Config</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!paymentMethodConfig.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="paymentMethodConfig.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.paymentMethodConfig.key" for="field_key">Key</label>
                    <input type="text" class="form-control" name="key" id="field_key"
                        [(ngModel)]="paymentMethodConfig.key" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.paymentMethodConfig.value" for="field_value">Value</label>
                    <input type="text" class="form-control" name="value" id="field_value"
                        [(ngModel)]="paymentMethodConfig.value" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.paymentMethodConfig.note" for="field_note">Note</label>
                    <input type="text" class="form-control" name="note" id="field_note"
                        [(ngModel)]="paymentMethodConfig.note" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.paymentMethodConfig.enabled" for="field_enabled">Enabled</label>
                    <input type="checkbox" class="form-control" name="enabled" id="field_enabled"
                        [(ngModel)]="paymentMethodConfig.enabled" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.paymentMethodConfig.paymentMethod" for="field_paymentMethod">Payment Method</label>
                    <select class="form-control" id="field_paymentMethod" name="paymentMethod" [(ngModel)]="paymentMethodConfig.paymentMethodId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paymentMethodOption.id" *ngFor="let paymentMethodOption of paymentmethods; trackBy: trackPaymentMethodById">{{paymentMethodOption.paymentMethod}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
