<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shopDevice">
            <h2><span jhiTranslate="doraApp.shopDevice.detail.title">Shop Device</span> {{shopDevice.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="doraApp.shopDevice.deviceName">Device Name</span></dt>
                <dd>
                    <span>{{shopDevice.deviceName}}</span>
                </dd>
                <dt><span jhiTranslate="doraApp.shopDevice.deviceModel">Device Model</span></dt>
                <dd>
                    <span>{{shopDevice.deviceModel}}</span>
                </dd>
                <dt><span jhiTranslate="doraApp.shopDevice.registeredDate">Registered Date</span></dt>
                <dd>
                    <span>{{shopDevice.registeredDate}}</span>
                </dd>
                <dt><span jhiTranslate="doraApp.shopDevice.shop">Shop</span></dt>
                <dd>
                    <div *ngIf="shopDevice.shopId">
                        <a [routerLink]="['/shop', shopDevice.shopId, 'view']">{{shopDevice.shopShopName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shop-device', shopDevice.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
