<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-product-type-heading" jhiTranslate="doraApp.productType.home.createOrEditLabel">Create or edit a Product Type</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!productType.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="productType.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.productType.productType" for="field_productType">Product Type</label>
                    <input type="text" class="form-control" name="productType" id="field_productType"
                        [(ngModel)]="productType.productType" required/>
                    <div [hidden]="!(editForm.controls.productType?.dirty && editForm.controls.productType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.productType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.productType.productTypeDescription" for="field_productTypeDescription">Product Type Description</label>
                    <input type="text" class="form-control" name="productTypeDescription" id="field_productTypeDescription"
                        [(ngModel)]="productType.productTypeDescription" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.productType.shop" for="field_shop">Shop</label>
                    <select class="form-control" id="field_shop" name="shop" [(ngModel)]="productType.shopId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="shopOption.id" *ngFor="let shopOption of shops; trackBy: trackShopById">{{shopOption.shopName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
