<div>
    <h2 id="page-heading">
        <span jhiTranslate="doraApp.ordersLine.home.title">Orders Lines</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-orders-line" [routerLink]="['/orders-line/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="doraApp.ordersLine.home.createLabel">
            Create new Orders Line
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'doraApp.ordersLine.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="ordersLines">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ordersLineName"><span jhiTranslate="doraApp.ordersLine.ordersLineName">Orders Line Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ordersLineValue"><span jhiTranslate="doraApp.ordersLine.ordersLineValue">Orders Line Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ordersLinePrice"><span jhiTranslate="doraApp.ordersLine.ordersLinePrice">Orders Line Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ordersLineDescription"><span jhiTranslate="doraApp.ordersLine.ordersLineDescription">Orders Line Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="thumbnailPhoto"><span jhiTranslate="doraApp.ordersLine.thumbnailPhoto">Thumbnail Photo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fullPhoto"><span jhiTranslate="doraApp.ordersLine.fullPhoto">Full Photo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fullPhotoUrl"><span jhiTranslate="doraApp.ordersLine.fullPhotoUrl">Full Photo Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="thumbnailPhotoUrl"><span jhiTranslate="doraApp.ordersLine.thumbnailPhotoUrl">Thumbnail Photo Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ordersId"><span jhiTranslate="doraApp.ordersLine.orders">Orders</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productProductName"><span jhiTranslate="doraApp.ordersLine.product">Product</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ordersLine of ordersLines ;trackBy: trackId">
                <td><a [routerLink]="['/orders-line', ordersLine.id, 'view' ]">{{ordersLine.id}}</a></td>
                <td>{{ordersLine.ordersLineName}}</td>
                <td>{{ordersLine.ordersLineValue}}</td>
                <td>{{ordersLine.ordersLinePrice}}</td>
                <td>{{ordersLine.ordersLineDescription}}</td>
                <td>
                    <a *ngIf="ordersLine.thumbnailPhoto" (click)="openFile(ordersLine.thumbnailPhotoContentType, ordersLine.thumbnailPhoto)">
                        <img [src]="'data:' + ordersLine.thumbnailPhotoContentType + ';base64,' + ordersLine.thumbnailPhoto" style="max-height: 30px;" alt="ordersLine image"/>
                    </a>
                    <span *ngIf="ordersLine.thumbnailPhoto">{{ordersLine.thumbnailPhotoContentType}}, {{byteSize(ordersLine.thumbnailPhoto)}}</span>
                </td>
                <td>
                    <a *ngIf="ordersLine.fullPhoto" (click)="openFile(ordersLine.fullPhotoContentType, ordersLine.fullPhoto)">
                        <img [src]="'data:' + ordersLine.fullPhotoContentType + ';base64,' + ordersLine.fullPhoto" style="max-height: 30px;" alt="ordersLine image"/>
                    </a>
                    <span *ngIf="ordersLine.fullPhoto">{{ordersLine.fullPhotoContentType}}, {{byteSize(ordersLine.fullPhoto)}}</span>
                </td>
                <td>{{ordersLine.fullPhotoUrl}}</td>
                <td>{{ordersLine.thumbnailPhotoUrl}}</td>
                <td>
                    <div *ngIf="ordersLine.ordersId">
                        <a [routerLink]="['../orders', ordersLine.ordersId , 'view' ]" >{{ordersLine.ordersId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="ordersLine.productId">
                        <a [routerLink]="['../product', ordersLine.productId , 'view' ]" >{{ordersLine.productProductName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/orders-line', ordersLine.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/orders-line', ordersLine.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'orders-line', { outlets: { popup: ordersLine.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="ordersLines && ordersLines.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
