<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-system-events-history-heading" jhiTranslate="doraApp.systemEventsHistory.home.createOrEditLabel">Create or edit a System Events History</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!systemEventsHistory.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="systemEventsHistory.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.systemEventsHistory.eventName" for="field_eventName">Event Name</label>
                    <input type="text" class="form-control" name="eventName" id="field_eventName"
                        [(ngModel)]="systemEventsHistory.eventName" required/>
                    <div [hidden]="!(editForm.controls.eventName?.dirty && editForm.controls.eventName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.eventName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.systemEventsHistory.eventDate" for="field_eventDate">Event Date</label>
                    <div class="d-flex">
                        <input id="field_eventDate" type="datetime-local" class="form-control" name="eventDate" [(ngModel)]="eventDate" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.systemEventsHistory.eventApi" for="field_eventApi">Event Api</label>
                    <input type="text" class="form-control" name="eventApi" id="field_eventApi"
                        [(ngModel)]="systemEventsHistory.eventApi" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.systemEventsHistory.eventNote" for="field_eventNote">Event Note</label>
                    <input type="text" class="form-control" name="eventNote" id="field_eventNote"
                        [(ngModel)]="systemEventsHistory.eventNote" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.systemEventsHistory.eventEntityName" for="field_eventEntityName">Event Entity Name</label>
                    <input type="text" class="form-control" name="eventEntityName" id="field_eventEntityName"
                        [(ngModel)]="systemEventsHistory.eventEntityName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.systemEventsHistory.eventEntityId" for="field_eventEntityId">Event Entity Id</label>
                    <input type="number" class="form-control" name="eventEntityId" id="field_eventEntityId"
                        [(ngModel)]="systemEventsHistory.eventEntityId" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doraApp.systemEventsHistory.triggedBy" for="field_triggedBy">Trigged By</label>
                    <select class="form-control" id="field_triggedBy" name="triggedBy" [(ngModel)]="systemEventsHistory.triggedById" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profileOption.id" *ngFor="let profileOption of profiles; trackBy: trackProfileById">{{profileOption.firstName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
